.colorNav Button {
  color: forestgreen;
  border-color: forestgreen;
}

.navBrand {
  color: forestgreen !important;
}

.beerImage {
  height: 100%;
  width: 100%;
}

.favDiv {
  margin: 10px 0px;
  padding: 10px 0px;
  height: 100%;
  background-color: #eee;
  background-repeat: no-repeat;
}

.favDiv h1 {
  color: forestgreen;
  padding: 10px;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}